{% extends 'core/base.html' %}
{% block content %}
    <div class="menu-header">
        <h1><i class="fas fa-key"></i> Logowanie</h1>

    </div>

    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <label class="label-style">Nazwa użytkownika</label>
            <div class="form-field-style">{{ form.username }}</div>
            <label class="label-style">Hasło</label>
            <div class="form-field-style">{{ form.password }}</div>
            <input class="button" style="margin-top: 10px" type="submit" value="Zaloguj"/>
            <p>Nie masz jeszcze konta? <a href="{% url 'register' %}">Rejestracja</a></p>
        </form>
    </div>
{% endblock content %}
